<h1>
  Calculate the CO<sub>2</sub> emissions of your car trip
</h1>

<mat-stepper orientation="vertical" [linear]="true" (selectionChange)="onStepChange($event)" #stepper>

  <mat-step>
    <ng-template matStepLabel>Introduction</ng-template>

    <p>
      This procedure calculates, with a reasonable approximation, how much CO<sub>2</sub> you emitted in your trip and
      how much it
      would cost to offset it by contributing to certified climate change mitigation projects.

    </p>


    <button mat-flat-button color="primary" matStepperNext>Start</button>
  </mat-step>

  <mat-step [stepControl]="carFormGroup" errorMessage="Car is required.">
    <form [formGroup]="carFormGroup">
      <ng-template matStepLabel>Car</ng-template>

      <h3>
        What type of car did you use?
      </h3>

      <mat-radio-group formControlName="car" (change)="onCarSelected($event)" required>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Small car
              </mat-panel-title>
              <mat-panel-description
                *ngIf="carFormGroup.controls['car'].value == 'small'">Selected</mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
              <li>Petrol/LPG/CNG - up to a 1.4-litre engine</li>
              <li>Diesel - up to a 1.7-litre engine</li>
              <li>Others - vehicles models of a similar size (i.e. market segment A or B)</li>
            </ul>
            <p>Citroën C1, Fiat 500, Fiat Panda, Peugeot 107, Volkswagen up!, Renault TWINGO, Toyota AYGO, Smart fortwo,
              Hyundai i 10, Ford Fiesta, Renault CLIO, Volkswagen Polo, Citroën C2 and C3, Opel Corsa, Peugeot 208,
              Toyota
              Yaris.</p>
            <mat-radio-button value="small">Choose small car</mat-radio-button>
          </mat-expansion-panel>


          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Medium car
              </mat-panel-title>
              <mat-panel-description
                *ngIf="carFormGroup.controls['car'].value == 'medium'">Selected</mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
              <li>Petrol/LPG/CNG - from 1.4-litre to 2.0-litre engine.</li>
              <li>Diesel - from 1.7-litre to 2.0-litre engine</li>
              <li>Others - vehicles models of a similar size (i.e. generally market segment C)</li>
            </ul>
            <p>Volkswagen Golf, Ford Focus, Opel Astra, Audi A3, BMW Serie 1, Renault Mégane, Toyota Auris/Corolla.</p>
            <mat-radio-button value="medium">Choose medium car</mat-radio-button>
          </mat-expansion-panel>


          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Large car
              </mat-panel-title>
              <mat-panel-description
                *ngIf="carFormGroup.controls['car'].value == 'large'">Selected</mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
              <li>Petrol/LPG/CNG - 2.0-litre engine +</li>
              <li>Diesel - 2.0-litre engine +</li>
              <li>Others - vehicles models of a similar size (i.e. generally market segment D and above)</li>
            </ul>
            <p>BMW Serie 3 and 5, ŠKODA Octavia, Volkswagen Passat and Touran, Audi A4 A5 A6, Mercedes Benz Classe C and
              E, Peugeot 508, Ford C-Max, Renault Scenic, Volkswagen Touran, Opel Zafira, Ford B-Max, Citroën C3 Picasso
              and C4 Picasso.</p>
            <mat-radio-button value="large">Choose large car</mat-radio-button>
          </mat-expansion-panel>


          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Minivan
              </mat-panel-title>
              <mat-panel-description
                *ngIf="carFormGroup.controls['car'].value == 'minivan'">Selected</mat-panel-description>
            </mat-expansion-panel-header>
            <p>9 seats minivan</p>
            <p>Ford Transit, Fiat Ducato, Renault Trafic, Mercedes Vito, Citroen Jumpy, Opel Vivaro</p>
            <mat-radio-button value="minivan">Choose minivan</mat-radio-button>
          </mat-expansion-panel>


          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                I don't know
              </mat-panel-title>
              <mat-panel-description
                *ngIf="carFormGroup.controls['car'].value == 'dontknow'">Selected</mat-panel-description>
            </mat-expansion-panel-header>
            <p>Unknown engine size</p>
            <mat-radio-button value="dontknow">Choose "I don't know"</mat-radio-button>
          </mat-expansion-panel>


        </mat-accordion>



      </mat-radio-group>
      <br>

      <div>
        <button mat-flat-button matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" matStepperNext [disabled]="!carFormGroup.valid">Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="engineFormGroup" errorMessage="Engine is required.">
    <form [formGroup]="engineFormGroup">
      <ng-template matStepLabel>Engine</ng-template>

      <h3>
        What kind of engine?
      </h3>
      <mat-form-field appearance="fill">
        <mat-label>Engine</mat-label>
        <mat-select aria-label="Select an option" formControlName="engine" required>
          <mat-option value="diesel">Diesel</mat-option>
          <mat-option value="petrol">Petrol</mat-option>
          <mat-option value="hybrid">Hybrid</mat-option>
          <mat-option value="lpg">LPG</mat-option>
          <mat-option value="pluginhybrid">Plug-in Hybrid</mat-option>
          <mat-option value="electric">Electric</mat-option>
          <mat-option value="dontknow">I don't know</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-flat-button matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" matStepperNext [disabled]="!engineFormGroup.valid">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="kmFormGroup" errorMessage="Kilometers are required.">
    <form [formGroup]="kmFormGroup">
      <ng-template matStepLabel>Kilometers</ng-template>
      <h3>
        How many km did you drive? </h3>
      <p>
        Remember to consider the return too. You can search the itinerary on Google Maps and double the distance.</p>


      <mat-form-field>
        <input matInput placeholder="Km" formControlName="km" type="number" required>
      </mat-form-field>

      <div>
        <button mat-flat-button matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" matStepperNext [disabled]="!kmFormGroup.valid">Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="peopleFormGroup" errorMessage="People are required.">
    <form [formGroup]="peopleFormGroup">
      <ng-template matStepLabel>People</ng-template>
      <h3>
        How many people were sharing the car? </h3>
      <p>
        Consider all passengers, including yourself and the driver
      </p>

      <mat-form-field>
        <input matInput placeholder="People" formControlName="people" type="number" required>
      </mat-form-field>

      <div>
        <button mat-flat-button matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" matStepperNext [disabled]="!peopleFormGroup.valid">Next</button>
      </div>
    </form>
  </mat-step>



  <mat-step>
    <ng-template matStepLabel>Carbon footprint</ng-template>
    <p>Emitted by the car: {{ tripFootprint | number: '1.1-1'}} kg CO<sub>2</sub></p>
    <p>Emitted per capita: {{ perCapitaFootprint | number: '1.1-1'}} kg CO<sub>2</sub></p>
    <div>
      <button mat-flat-button matStepperPrevious>Back</button>
      <button mat-flat-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Offsetting your emissions</ng-template>

    <h3>Cost of emissions offsetting for your trip (€)</h3>

    <ul>
      <li>5 €/ton : {{ perCapitaFootprint * 5 / 1000 | number: '1.2-2'}} €</li>
      <li>10 €/ton : {{ perCapitaFootprint * 10 / 1000 | number: '1.2-2'}} €</li>
      <li>25 €/ton : {{ perCapitaFootprint * 25 / 1000 | number: '1.2-2'}} €</li>
      <li>50 €/ton : {{ perCapitaFootprint * 50 / 1000 | number: '1.2-2'}} €</li>
      <li>100 €/ton : {{ perCapitaFootprint * 100 / 1000 | number: '1.2-2'}} €</li>
    </ul>
    <p>Offsetting emissions is a controversial issue. In principle, it means investing in initiatives
      that will capture as much carbon from the atmosphere as was emitted during the event (e.g. afforestation);
      or initiatives that will reduce emissions (e.g. photovoltaic electricity plants) by the same amount;
      or in emission-reduction projects aimed at developing countries.
      The emission trading system is criticized by many environmental organizations for allowing the industry
      to "wash up their conscience" by paying some money, instead of investing in climate-friendly operations
      themselves and for the excessively low "price" to be paid for many "certified emission reductions"
      within the "<a href="https://cdm.unfccc.int/about/index.html">Clean Development Mechanism</a>"
      managed by the <a href="https://unfccc.int/">UNFCCC</a>. Some project value the ton of carbon emission at less
      than 5 €;
      according to most ENGOs a reasonably effective "price" per ton, encouraging real change in production systems
      and lifestyles should be at least 50-100 € per ton.
      Some independent certification systems have recently gained the centre of the scene for voluntary carbon
      offsetting programmes. The two that dominate the market at the moment are
      "<a hreF="https://verra.org/programs/verified-carbon-standard/">Verified Carbon Standard</a>"
      and "<a href="https://www.goldstandard.org/">Gold Standard</a>",whereas the CDM is phasing out.
      Gold standard is supported by the WWF, making it a favorite among the environmental NGOs.
    </p>
    <p><strong>
        You may apply any of these figures (from 5 to 100 €/tonne CO<sub>2</sub>) to calculate how much it would cost to
        offset
        the emissions of your trip; the higher the price, the more environmentally concerned you appear.</strong></p>

    <div>
      <button mat-flat-button matStepperPrevious>Back</button>
      <button mat-flat-button color="warn" (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>


</mat-stepper>